body {
    height: 100%;
    text-align: center;
    margin: 0;
}
root { 
    display: block;
}

.container {
    width: 150px;
    height: 50px;
    margin: 0 auto 40px;
    border: 1px solid #CCC;
    -webkit-perspective: 200px;
}
.wrapper {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}

.wrapper:hover {
    -webkit-transform: rotateY(-90deg) rotateX(-40deg) translateX(-75px) translateZ(75px);
    -webkit-transition: -webkit-transform 0.5s;
}
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.frontBox {
    background-color: #3cafe4;
}

.backBox {
    background-color: rosybrown;
    -webkit-transform: translateX(75px) translateZ(-75px) rotateY(90deg)
}

.player-wrapper {
    width:100%;
    min-height: 900px;
    background: -webkit-radial-gradient(#205983, #0A2742);
    background: radial-gradient(#205983, #0A2742);
}

.player-center {
    min-height: 530px;
    display: inline-block;
    width: 800px;
    min-width: 600px;
    margin-top: -9px;
}

.fancyInput {
    width: 80% !important;
    margin-top: 111px;
}

.player-aside {
    height: 900px;
    width: 300px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.player-holder {
    z-index: 5;
}

.player-playlist-holder {
    width: 100%;
    min-height: 500px;
    background-color: rgba(2, 2, 2, 0.31);
    background-color: rgba(2, 2, 2, 0.31);
    box-shadow: 0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);
/*    -moz-box-shadow: inset 0 0 12px 1px #000;
    -webkit-box-shadow: inset 0 0 12px 1px #000;
    box-shadow: inset 0 0 12px 1px #000;*/
}

.requester-wrapper {
    width:100%;
    min-height: 900px;
    background: -webkit-radial-gradient(#205983, #0A2742);
    background: radial-gradient(#205983, #0A2742);
}

.requester-holder {
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 25px;
}

.requester-item-wrapper {
    width: 608px;
    height: 104px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(137, 137, 138, 0.16);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px; 
    overflow: hidden;
}

.requester-item-img {
    width: 185px;
    float: left;
}

.requester-item-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.playlist-holder {
    width: 99%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(137, 137, 138, 0.16);
    overflow: hidden;
    transform: translateY(1000px);
    -webkit-transform: translateY(1000px);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.playlist-holder-selected {
    background-color: rgba(6, 0, 36, 0.34);
    border: 1px solid rgba(139, 123, 123, 0.57);
}

.playlist-image {
    height: 100%;
    float: left;
    pointer-events: none;
}

.playlist-title {
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    text-shadow: 0 2px 5px rgba(0,0,0,.6);
    color: white;
    height: 50px;
    overflow: hidden;
    pointer-events: none;
}

.nextrequest-holder {
    width: 99%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(137, 137, 138, 0.16);
    overflow: hidden;
    margin-bottom: 5px;
    transition: all 1s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -webkit-transition: all 1s;
}

.nextrequest-image {
    height: 50%;
    float: left;
}

.newxtrequest-by {
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 5px;
}

.newxtrequest-by-name {
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    color: rgb(202, 58, 58);
}

.requester-next{
    position: fixed;
    width: 300px;
    height: 100px;
}

.select-name-wrapper {
    width: 600px;
    height: 200px;
    position: fixed;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

.name-fancy-input {
    width: 35%;
    min-width: 35%;
    margin-top: 32px;
}

.name-text {
    font-size: 35px;
}

@media all 
and (min-width : 320px) 
and (max-width : 568px) { 
    #search-input{
        font-size: 13px;
    }
    
    .requester-item-wrapper {
        width: 98%;
        height: 50px;
    }
    
    .requester-item-wrapper > img {
        width: 50px;
        height: 100%;
    }
}